body {
  background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-weight: 300;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 1px rgba(0,0,0,0.3);
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main-header {
  margin-top: 110px;
  padding: 1px;
  background-image: url(../img/banner.jpg);
}

.main-header__avatar {
  margin-top: -70px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 999px;
  margin-top: -70px;
  border: 3px solid white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}